<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-row class="text-right">
          <v-col cols="6">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-col>

          <v-col cols="4">
            <v-select
              v-model="sortBy"
              flat
              hide-details
              :items="keys"
              label="Sort by"
            ></v-select>
          </v-col>
          <v-col cols="2" text-right>
            <v-btn-toggle
              v-model="sortDesc"
              mandatory
              borderless
              background-color="#fff"
            >
              <v-btn depressed :value="false">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn depressed :value="true">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </v-col>
        </v-row>

        <br />

        <v-data-table
          show-select
          hide-default-header
          :headers="headers"
          :items="reviewnotes"
          :items-per-page="5"
          :search="search"
          :sort-by="sortBy.toLowerCase()"
          :sort-desc="sortDesc"
        >
          <template v-slot:[`item.title`]="{ item }">
            <span class="text-subtitle-2">{{ item.title }}</span>
          </template>

          <template v-slot:[`item.type`]="{ item }">
            <v-chip color="#5a7088" dark label small>
              {{ item.type }}
            </v-chip>
          </template>

          <template v-slot:[`item.status`]="{ item }">
            <v-chip :color="getStatus(item.status)" dark label small>
              {{ item.status || '-' }}
            </v-chip>
          </template>

          <template v-slot:[`item.priority`]="{ item }">
            <v-chip
              :color="getPriority(item.priority && item.priority.text)"
              dark
              label
              small
            >
              {{ item.priority && item.priority.text }}
            </v-chip>
          </template>

          <template v-slot:[`item.dueDate`]="{ item }">
            <span class="text-caption">{{ item.dueDate }}</span>
          </template>

          <template v-slot:[`item.assignees`]="{ item }">
            <template v-if="item.assignees.length">
              <div
                v-for="(assignee, index) in item.assignees"
                :key="`assignee-${index}`"
                v-bind:data="users"
              >
                <span v-for="(user, index) in users" :key="`user-${index}`">
                  <template v-if="assignee.$oid && assignee.$oid === user.id">
                    <v-avatar size="32px">
                      <img
                        :src="user.photo"
                        :alt="user.name"
                        :title="user.name"
                        style="width: 32px; height: 32px; vertical-align: top"
                      />
                    </v-avatar>
                  </template>
                  <template v-if="!assignee.$oid && assignee.$oid !== user.id">
                    <v-avatar color="indigo">
                      <v-icon dark> mdi-account-circle </v-icon>
                    </v-avatar>
                  </template>
                </span>
              </div>
            </template>
            <template v-if="!item.assignees.length">
              <v-avatar size="32px" color="#5a7088">
                <v-icon dark> mdi-account-circle </v-icon>
              </v-avatar>
            </template>
          </template>

          <template v-slot:[`item.createdAt`]="{ item }">
            <span class="text-caption">
              {{
                new Date(item.createdAt.$date).toLocaleDateString('uk') +
                ' ' +
                new Date(item.createdAt.$date)
                  .toLocaleTimeString('uk')
                  .slice(0, -3)
              }}
            </span>
          </template>

          <template v-slot:[`item.updatedAt`]="{ item }">
            <span class="text-caption">
              {{
                new Date(item.updatedAt.$date).toLocaleDateString('uk') +
                ' ' +
                new Date(item.updatedAt.$date)
                  .toLocaleTimeString('uk')
                  .slice(0, -3)
              }}
            </span>
          </template>
        </v-data-table>
        <button
          @click="loadMore"
          v-if="currentPage * maxPerPage < reviewnotes.length"
        >
          load more
        </button>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import reviewnotes from '../assets/dummy-data-reviewnotes.json'
import users from '../assets/dummy-data-users.json'

export const formatDate = (date) => {
  return new Date(date).toLocaleString('de-de').slice(0, -3)
}

export default {
  data() {
    return {
      headers: [
        {
          text: 'Title',
          align: 'start',
          sortable: false,
          value: 'title'
        },
        { text: 'Type', value: 'type' },
        { text: 'Status', value: 'status' },
        { text: 'Priority', value: 'priority' },
        { text: 'Due Date', value: 'dueDate' },
        { text: 'Assignees', value: 'assignees' },
        { text: 'Section', value: 'sectionRef' },
        { text: 'Created', value: 'createdAt' },
        { text: 'Updated', value: 'updatedAt' }
      ],
      reviewnotes,
      users,
      search: '',
      sortDesc: false,
      filter: {},
      sortBy: 'name',
      keys: [
        'Title',
        'Type',
        'Status',
        { text: 'Priority', value: 'priority.text' },
        'Assignees'
      ]
    }
  },
  computed: {
    console: () => console,
    window: () => window
  },

  methods: {
    getPriority(priority) {
      if (!priority) return null

      if (priority === 'High') return '#ff3461'
      else if (priority === 'Medium') return '#fe902f'
      else return '#16a762'
    },
    getStatus(status) {
      if (!status) return null

      if (status.toLowerCase().includes('progress')) return 'blue'
      else if (status.toLowerCase().includes('pending')) return '#fe902f'
      else if (status.toLowerCase().includes('addressed')) return '#16a762'
      else return '#5a7088'
    }
  }
}
</script>
